<h2>Most recent ratings</h2>

Number of ratings: <%= @ratings.count %>

<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating %>
        <% if rating.user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>

<h2>Top Users</h2>

<ol>
  <% @top_users.each do |user| %>
      <li> <%= user.username %>, beer of choice <%= user.favorite_beer %>, brewery of choice <%= user.favorite_brewery %>, favorite style <%= user.favorite_style %> </li>
  <% end %>
</ol>

<h2>Top Beers</h2>

<ol>
  <% @top_beers.each do |beer| %>
      <li> <%= beer %>, average:  <%= round(beer.average_rating) %></li>
  <% end %>
</ol>

<h2>Top Breweries</h2>

<ol>
  <% @top_breweries.each do |b| %>
      <li> <%= b %>, average:  <%= round(b.average_rating) %></li>
  <% end %>
</ol>

<h2>Top Styles</h2>

<ol>
  <% @top_styles.each do |b| %>
      <li> <%= b %>, average:  <%= round(b.average_rating) %></li>
  <% end %>
</ol>

<%= link_to('New rating', new_rating_path) %>