<p id="notice"><%= notice %></p>

<p><h2>
  <strong>Name:</strong>
  <%= @brewery.name %></h2>
</p>

<p>
  <strong>Established at
  <%= @brewery.year %></strong>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %>
<br><br>
<% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
<% end %>
<br>
 <strong>Number of beers: <%= @brewery.beers.count%></strong>
<br>
<% if @brewery.ratings.empty? %>
    Brewerys beers have not yet been rated!
<% else %>
    Has <%= pluralize(@brewery.ratings.count, 'rating')  %>, average: <%=  @brewery.average_rating %>
<% end %>
<br>